@import 'scss/variables';
@import 'scss/mixins';
@import 'scss/settings';
@import 'scss/helpers';
@import 'scss/home';

a {
  text-decoration: none;
  color: $theme-blue;
  font-size: $font-size-sm;
}
